body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: linear-gradient(180deg, #7f1d1d, #1e3a8a);
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar button:hover {
  background: rgba(255,255,255,0.3);
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* PAGES */
.page {
  display: none;
}

.active {
  display: block;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  background: #111827;
  padding: 15px;
  border-radius: 12px;
  border-left: 4px solid #7f1d1d;
}

/* INPUT */
input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  width: 200px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
